<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talley Timepiece</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <h1>Talley Timepiece</h1>
    
    <div id="connected-status"> <ion-icon name="checkmark-circle"></ion-icon> &nbsp;Clock is connected</div>
    <div id="disconnected-status"> <ion-icon name="close-circle"></ion-icon> &nbsp;Clock is offline</div>

    <div id="time">12:00:00 PM</div>

    <label class="label" for="timezone-dropdown">Timezone</label>
    <select id="timezone-dropdown" title="timezone">
        {% for timezone in timezones %}
            {% if timezone == current_timezone %}
                <option value="{{ timezone }}" selected>{{ timezone|replace('_', ' ') }}</option>
            {% else %}
                <option value="{{ timezone }}">{{ timezone|replace('_', ' ') }}</option>
            {% endif %}
        {% endfor %}
    </select>
    
    <br>
    <br>
    

    <!-- <label class="label">Alarms</label>
    <br>
    <div class="alarm">
        <input type="time" class="alarm-time" id="alarm-1-time" name="alarm-time" value="00:00:00">
        <select class="alarm-days">
            <option value="monday">Monday</option>
            <option value="tuesday">Tuesday</option>
            <option value="wednesday">Wednesday</option>
            <option value="thursday">Thursday</option>
            <option value="friday">Friday</option>
            <option value="saturday">Saturday</option>
            <option value="sunday">Sunday</option>
        </select>
        <input type="checkbox" class="alarm-active" id="alarm-1-active" name="alarm-active" checked>
        <label class="alarm-active-label" for="alarm-1-active">Active</label>
    </div>
    <div class="alarm">
        <input type="time" class="alarm-time" id="alarm-1-time" name="alarm-time" value="00:00:00">
        <select class="alarm-days">
            <option value="monday">Monday</option>
            <option value="tuesday">Tuesday</option>
            <option value="wednesday">Wednesday</option>
            <option value="thursday">Thursday</option>
            <option value="friday">Friday</option>
            <option value="saturday">Saturday</option>
            <option value="sunday">Sunday</option>
        </select>
        <input type="checkbox" class="alarm-active" id="alarm-1-active" name="alarm-active" checked>
        <label class="alarm-active-label" for="alarm-1-active">Active</label>
    </div> -->


    <!-- ionicons import -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}" data-timezone="{{ current_timezone }}" data-last-ping="{{ last_ping }}"></script>
</body>
</html>